* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
    line-height: 1.6;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.957);
    padding: 15px 30px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 500;
}

header img {
    max-width: 120px;
    height: auto;
    display: block;
}

header h1 {
    font-size: 20px;
    letter-spacing: 1px;
}

header p {
    font-size: 12px;
    letter-spacing: 0;
}

nav {
    background-color: #d6d1cd;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    padding: 5px 30px;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.card {
    background-color: #d6d1cd;
    padding: 30px;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2, .card h3 {
    color: #0a6789;
}

.card p {
    margin: 20px 0;
    font-size: 18px;
    text-align: justify;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
}

figure img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

aside {
    background-color: #d6d1cd;
    padding: 30px;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#apresentacao h1 {
    color: #0a6789;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header img {
        margin-bottom: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li a {
        padding: 10px 20px;
    }
}


